/* --- Modal --- */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    height: 100dvh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    padding: 1rem;
}

.modal.is-visible {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInModal 0.3s forwards;
}

@keyframes fadeInModal {
    from { background-color: rgba(0,0,0,0); }
    to { background-color: rgba(0,0,0,0.5); }
}

.modal-content {
    background-color: var(--card-bg-color);
    margin: auto;
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    animation: slideIn 0.3s ease-out;
    
    display: flex;
    flex-direction: column;
    max-height: calc(100dvh - 2rem);
}

@keyframes slideIn {
    from { transform: translateY(-30px) scale(0.98); opacity: 0; }
    to { transform: translateY(0) scale(1); opacity: 1; }
}

.modal-header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.modal-header h2 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.modal-header h2 i {
    color: var(--primary-color);
}

.close-modal-btn {
    font-size: 2rem;
    color: var(--text-color-light);
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
}

.modal-body {
    padding: 1.2rem;
    overflow-y: auto; 
    flex-grow: 1;
}

.modal-body .modal-warning-text {
    color: var(--danger-color);
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 0.95rem;
}
.modal-body .modal-warning-text strong {
    font-weight: 700;
}

.modal-details,
.calendar-container {
    padding-bottom: 20px;
}

.modal-footer {
    padding: 1.5rem 0;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    flex-shrink: 0;
}
.modal-footer .btn {
    font-size: 0.9rem;
    padding: 0.65rem 1.2rem;
}

.user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    color: var(--text-color-light);
}

#accountForm input[type="password"]::placeholder {
    font-size: .9rem;
    font-style: italic;
}

@media (max-width: 840px) {
    .modal-header {
        padding: 1.2rem 1.5rem;
    }
    .modal-header h2 {
        font-size: 1.25rem;
    }
    .modal-body {
        padding: 1.2rem 1.5rem;
    }
    .modal-footer {
        padding: 1.2rem 0;
    }
}